.listingImageA{
    width: 100%;
}
.listingcards{
    display: flex;
    justify-content: center;
}
.listlistcard{
    width: 35%;
    margin: .5%;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}